body{
	border: 25px solid grey;
	font-family: Source Sans Pro;
	width: 60%;
	margin:0 auto;
	padding: 30px;

}
h1 {
	letter-spacing: 3px;
	text-transform: uppercase;
	color:blue;
	
	font-size: 13px;

}


. {
	border-left: 2px solid grey: 
	border-bottom: 1px solid grey;
	padding: 10px;
}

